//Colores

$verde : #4cb8b3;
$rosa : #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro : rgb(0, 0, 0);
$blanco : #ffff;

//MediaQuerys

$telefono : 480px;
$tablet : 768px;
$desktop : 1200px;

//Fuentes

$fuentePrincipal: 'Montserrat', sans-serif; 
$delgada: 300;
$regular: 400;
$bold : 700;
$black: 900; 

//Separaciones 

$separacion : 5rem; 