.galeria {
    text-align: center;
    padding-top: $separacion;
    h3 {
        margin-bottom: $separacion;
    }
}

.galeria-imagenes {
    margin-top: $separacion;
    padding: 0;
    list-style: none;
    @include grid(2, $separacion / 2);
    @include tablet {
        @include grid(4, $separacion / 2);
    }
    @include desktop {
        @include grid(6, $separacion / 2);
    }
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
}

.btn-cerrar{
    width: 5rem;
    height: 5rem;
    background-color: $blanco;
    border-radius: 100%;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: $black;
    &:hover {
        background-color: $amarillo;
        cursor: pointer;
    }
}